{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
   {% if category %}
      {{ category.description|truncatewords:200 }}
   {% else %}
       Welcome To SAVAARI where you can buy different items.....
   {% endif %}
{% endblock %}

{% block title %}
   {% if category %}
      {{ category.name }} - SAVAARI
   {% else %}
      TASTE OUR NEW ITEMS - SAVAARI
   {% endif %}
{% endblock %}

{% block content %}
<style>
    .navbar {
        z-index: 1000; /* Ensure the navbar appears on top of other elements */
        width: 100%; /* Make the navbar span the entire width */
        background-color: transparent; /* Make the navbar background transparent */
        position: absolute; /* Absolute position for the navbar */
        top: 0; /* Position at the top of the page */
    }

   @media screen and (max-width: 768px) {
    .nav-item {
        letter-spacing: .2em;
        font-size: 5px;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.7);; /* Blood red background color */
        text-align: justify; /* Align text to the right */
        width: 50%; /* Decrease width to half */
        transition: transform 0.5s ease; /* Add transition effect */
        transform: translateX(100%); /* Initially translate to right */
    }

    .nav-item:hover {
        transform: translateX(0); /* Transition from right to left on hover */
    }
}
.dropdown-menu-white {
    background-color: white;
}


 /* Adjust user-info position */
.user-info-mobile {
    position: absolute; /* Absolute position for the user info */
    top: 0; /* Align to the top */
    right: 10px; /* Distance from the left side */
    color: white; /* Text color */
    margin-right: 10px;
}

.user-info-mobile .right {
    display: inline-block; /* Display the logout link */
}


    /* Adjust carousel styling */
    .carousel-item {
        height: calc(100vh - 56px); /* 100% viewport height minus navbar height */
        background-color: transparent; /* Make the carousel background transparent */
    }

    .carousel-inner {
        height: 100%; /* Make carousel inner container height 100% */
    }

    /* Adjust carousel container position */
    #carouselExampleControls {
        position: relative; /* Relative position for the carousel */
        z-index: -1; /* Put the carousel behind other elements */
    }

    /* Adjust user-info position */
    .black-search-button {
        background-color: black;
        color: white;
    }

    .carousel {
        width: 100%;
        height: 100%; /* or set a specific height */
    }

    .carousel-inner {
        width: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%; /* Maintain aspect ratio */
    }
<!--    /* Custom CSS to decrease the size of carousel control icons */-->
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
}

</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-1" href="{% url 'Ekartapp:allProdCat' %}">
            <img src="{% static 'img/log033.png' %}" alt="log img" width="150" height="40" class="d-inline-block align-top">
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Ekartapp:allProdCat' %}"><i class="uil uil-home"></i> HOME</a>
                </li>
                <li class="nav-item dropdown {% if 'Ekartapp' in request.path %} active {% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="uil uil-shopping-bag"></i> SHOP
                    </a>
                  <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="{% url 'Ekartapp:allProdCat' %}">All Products</a></li>
    {% for cat in links %}
        <li><a class="dropdown-item" href="{{ cat.get_url }}">{{ cat.name }}</a></li>
    {% endfor %}
</ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Ekartapp:aboutus' %}"><i class="uil uil-info-circle"></i> ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><i class="uil uil-user"></i> LOGIN</a>
                </li>
                {% if item_count > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}" ><i class="uil uil-shopping-cart-alt"></i> ({{ item_count }})</a>
                    </li>
                {% endif %}
            </ul>
            <!-- User information and logout -->
            <div class="user-info-mobile">
                <span class="hello-msg" style="color: white;">Hi {{ request.user }}</span>
                <div class="right"><a href="{% url 'logout' %}" class="hello-msg" style="color: white;">Logout</a></div>

            </div><br>
        </div>
    </div>
</nav>

{% if category %}
    <!-- Category Details -->
    <div class="ma_auto curved-bottom" style="background-color: #ffffff;">
        <img class="my_image" style="width:100%; height:100%;" src="{{ category.image.url }}" alt="{{ category.name }}">
    </div>
    <br>
    <div>
        <h1 class="cat" style="font-size:30px; text-transform: uppercase; font-family:'Roboto Black', sans-serif; text-align:center; color: black;">{{ category.name }}</h1>
        <p class="text-justify" style="font-family:'Roboto Light', sans-serif; font-size:15px; color: black;">{{ category.description }}</p>
    </div>
{% else %}
    <!-- Carousel -->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Large screen image -->
            <img class="d-block w-100 d-lg-none" src="{% static 'img/33.jpg' %}" alt="First slide for mobile">
            <!-- Mobile screen image -->
            <img class="d-none d-lg-block w-100" src="{% static 'img/34.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <!-- Large screen image -->
            <img class="d-block w-100 d-lg-none" src="{% static 'img/11.jpg' %}" alt="Second slide for mobile">
            <!-- Mobile screen image -->
            <img class="d-none d-lg-block w-100" src="{% static 'img/36.jpg' %}" alt="Second slide"  >
        </div>
        <div class="carousel-item">
            <!-- Large screen image -->
            <img class="d-block w-100 d-lg-none" src="{% static 'img/22.jpg' %}" alt="Third slide for mobile">
            <!-- Mobile screen image -->
            <img class="d-none d-lg-block w-100" src="{% static 'img/35.jpg' %}" alt="Third slide">
        </div>
        <!-- Add more carousel items as needed -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
    <br>
    <br>
    <br>
    <!-- Search Form -->
    <div>
   <form class="form-inline" action="{% url 'search_app:SearchResult' %}" method="get" style="max-width: 300px;">
    {% csrf_token %}
    <div class="input-group" style="width: 100%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-primary my-2 my-sm-0 black-search-button" type="submit"><i class="uil uil-search"></i></button>
        </div>
    </div>
</form>

        <br><br><br>
    </div>
{% endif %}

<!-- Products -->
<div class="container margin-bottom:10px">
    <div class="row mx-auto justify-content-center">
        {% for product in products.object_list %}
            <div class="my_bottom_margin col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center" style="margin-bottom:25px;">
                <div class="card text-center" style="width: 80%; border: none; overflow: hidden; background-color: #ffffff;">
                    <a href="{{ product.get_url }}" style="display: block;">
                        <div class="image-container mx-auto text-center">
                            <img class="my_image rounded-square" style="width:100%; height:100%; object-fit: cover;" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    </a>
                    <div class="card-body" style="padding-top:10px">
                        <h4 class="head" style="font-size:12px;font-weight:bold;  text-transform: uppercase; letter-spacing:.2em; font-family:'magilio', 'magilio'; color: black;">{{ product.name }}</h4>
                        <p class="price" style="font-size:10px;  color: black;margin-bottom: 2px;">RS.{{ product.price }}</p>
                        <p class="price" style="font-size:10px; color: black;margin-top: 0;">{{ product.grams }}gm</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- Pagination -->
<div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if product.number == pg %} active {% endif %}" style="background-color: #ff9999; color: black;">{{ pg }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
<br>
</div>

<!-- Add Bootstrap JavaScript and jQuery for carousel functionality -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
